@tailwind base;
@tailwind components;
@tailwind utilities;

.sans {
  font-family: var(--font-geist-sans);
}
.mono {
  font-family: var(--font-geist-mono);
}

.r-w {
  width: 1180px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

* {
  scrollbar-width: thin;
}
